In [47]:
%matplotlib inline
import numpy as np
import scipy as sp
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# Set color map to have light blue background
sns.set()
import statsmodels.formula.api as smf
import statsmodels.api as sm
from pathlib import Path
from ISLP import load_data

In [49]:
file_path = Path.cwd().joinpath("../../data/teacher-certification-and-years-of-experience.xlsx")
df = pd.read_excel(
    file_path,
    header=2,
    skiprows=[0,1,2],
    names=[    
        "C0",
        "State",
        "CT (FTE)",
        # "Classroom Teachers (FTE)",
        "MR (FTE)",
        # "Meeting All State Licensing/Certification Requirements (FTE)",
        "MR (P)",
        # "Meeting All State Licensing/Certification Requirements (P)",
        "FY (FTE)",
        # "Classroom Teachers in their First Year of Teaching (FTE)",
        "FY (P)",
        # "Classroom Teachers in their First Year of Teaching (P)",
        "SY (FTE)",
        "SY (P)",
        "schools",
        "schools (P)",
      ]
)
df.drop(["C0"], axis=1, inplace=True)
df.head()

,State,CT (FTE),MR (FTE),MR (P),FY (FTE),FY (P),SY (FTE),SY (P),schools,schools (P)
0,United States,3138534.55,3084697.40,98.2846,216087.56,6.8850,163067.17,5.19565,95507.0,99.971
1,Alabama,47203.01,46839.32,99.2295,2743.64,5.8124,2296.30,4.86473,1397.0,100.000
2,Alaska,7707.29,7639.21,99.1167,506.90,6.5769,304.97,3.95690,495.0,100.000
3,Arizona,56969.03,54072.38,94.9154,4564.63,8.0125,4046.82,7.10354,1913.0,100.000
4,Arkansas,34956.94,34450.44,98.5511,2200.10,6.2937,1822.91,5.21473,1085.0,100.000